<body>
  <header>
  <img class="logo-docplanner" src="https://www.docplanner.com/img/logo-default-group-en.svg?v=1" alt="Docplanner Group">
    <ul>
      <li><a href="#" class="menu item"> about us </a></li>
           <li><a href="#" class="menu">  career </a></li>
          <li><a href="#" class="menu midrop"  > deparments </a>
      <ul class="drop">
        <li>marekting & pr </li>
               <li> costumer success  </li>
        <li> IT, data </li>
        <li>finance </li>
        <li>Hr and more </li>
      </ul>
     </li>
 
    </ul>
   </header>
   <main class=body>
     <section>
       <img class="lead__logo" src="https://www.docplanner.com/img/sygnet.png" srcset="https://www.docplanner.com/img/sygnet.png 1x, https://www.docplanner.com/img/sygnet@2x.png 2x">
       <h1>making the health care experience more human </h1>
       <div class="intro">
       <p>We want patients to find the perfect doctor and book an appointment in the most easy way. The patient journey should be enjoyable, and that's why we are always next to them: to help them find the best possible care. Anytime, anywhere.</p>
       <p>We also help doctors to better manage their practice and build their online reputation. With our integrated end-to-end solution, doctors are able not only to improve their online presence, but also to devote their time to what really matters: their patients.</p>
       </div>
     </section>
   </main>
     
   <div class="card-container">
     <div class="item1 hi"><img class="ing" src="https://www.docplanner.com/icons/icon-patients.svg">
       <p>for patients <br> For patients Find a doctor, book a visit and solve any health-related doubt</p>
      <div class="style-select">
               <select data-id="domain-switcher">
                 <option>Choose country</option>
                                   <option value="https://academy.doctoraliar.com">Argentina</option>
                                   <option value="https://pro.doctoralia.com.br/produtos/sistema-de-agendamento/agenda-doctoralia-para-especialistas">Brazil</option>
                                   <option value="https://academy.doctoralia.cl">Chile</option>
                                   <option value="https://academy.doctoralia.co">Colombia</option>
                                   <option value="https://lekar.znamylekar.cz">Czech</option>
                                   <option value="https://pro.jameda.de">Germany</option>
                                   <option value="https://pro.miodottore.it/con-chi-collaboriamo/specialisti-e-medici-di-medicina-generale">Italy</option>
                                   <option value="https://pro.doctoralia.com.mx/productos/agenda-doctoralia-para-especialistas">Mexico</option>
                                   <option value="https://academy.doctoralia.pe">Peru</option>
                                   <option value="https://pro.znanylekarz.pl/produkty/oprogramowanie-medyczne/znanylekarz-dla-lekarzy">Poland</option>
                                   <option value="https://pro.doctoralia.es/productos/sistema-de-gestion-de-pacientes/doctoralia-pro-para-especialistas">Spain</option>
                                   <option value="https://uzman.doktortakvimi.com">Turkey</option>
                               </select>
       </div>
         </div>
         <div class="item2 hi"><img class="ing" src="https://www.docplanner.com/icons/icon-doctors.svg"><p>for doctors <br>Save time managing visits and cut no-shows by half</p>  
     <div class="style-select">
               <select data-id="domain-switcher">
                 <option>Choose country</option>
                                   <option value="https://academy.doctoraliar.com">Argentina</option>
                                   <option value="https://pro.doctoralia.com.br/produtos/sistema-de-agendamento/agenda-doctoralia-para-especialistas">Brazil</option>
                                   <option value="https://academy.doctoralia.cl">Chile</option>
                                   <option value="https://academy.doctoralia.co">Colombia</option>
                                   <option value="https://lekar.znamylekar.cz">Czech</option>
                                   <option value="https://pro.jameda.de">Germany</option>
                                   <option value="https://pro.miodottore.it/con-chi-collaboriamo/specialisti-e-medici-di-medicina-generale">Italy</option>
                                   <option value="https://pro.doctoralia.com.mx/productos/agenda-doctoralia-para-especialistas">Mexico</option>
                                   <option value="https://academy.doctoralia.pe">Peru</option>
                                   <option value="https://pro.znanylekarz.pl/produkty/oprogramowanie-medyczne/znanylekarz-dla-lekarzy">Poland</option>
                                   <option value="https://pro.doctoralia.es/productos/sistema-de-gestion-de-pacientes/doctoralia-pro-para-especialistas">Spain</option>
                                   <option value="https://uzman.doktortakvimi.com">Turkey</option>
                               </select>
       </div>
   </div>
         <div class="item3 hi"><img class="ing"  src="https://www.docplanner.com/icons/icon-clinics.svg"><p>for clinics <br> Deliver an exceptional patient experience in your clinic</p>  <div class="style-select">
               <select data-id="domain-switcher">
                 <option>Choose country</option>
                                   <option value="https://academy.doctoraliar.com">Argentina</option>
                                   <option value="https://pro.doctoralia.com.br/produtos/sistema-de-agendamento/agenda-doctoralia-para-especialistas">Brazil</option>
                                   <option value="https://academy.doctoralia.cl">Chile</option>
                                   <option value="https://academy.doctoralia.co">Colombia</option>
                                   <option value="https://lekar.znamylekar.cz">Czech</option>
                                   <option value="https://pro.jameda.de">Germany</option>
                                   <option value="https://pro.miodottore.it/con-chi-collaboriamo/specialisti-e-medici-di-medicina-generale">Italy</option>
                                   <option value="https://pro.doctoralia.com.mx/productos/agenda-doctoralia-para-especialistas">Mexico</option>
                                   <option value="https://academy.doctoralia.pe">Peru</option>
                                   <option value="https://pro.znanylekarz.pl/produkty/oprogramowanie-medyczne/znanylekarz-dla-lekarzy">Poland</option>
                                   <option value="https://pro.doctoralia.es/productos/sistema-de-gestion-de-pacientes/doctoralia-pro-para-especialistas">Spain</option>
                                   <option value="https://uzman.doktortakvimi.com">Turkey</option>
                               </select>
       </div>
    </div>
   </div>
   <div > <h1 class="head">Improve the lives of millions. Change yours forever.</h1>
 <p class="info">More than 2600 team mates share our same vision, goals and passion. With offices in Warsaw, Barcelona, Munich, Istanbul, Rome, Rio, Bologna, Mexico City and Curitiba, our search for great talent never stops.</P>
   </div>
 <div class="grid">
   <div class="grid-item"> <img  scr="https://www.docplanner.com/images/warsaw.png" srcset="https://www.docplanner.com/images/warsaw.png 1x, https://www.docplanner.com/images/warsaw@2x.png 2x" /img> warsaw </div>
   <div class="grid-item">
               <img scr="https://www.docplanner.com/images/barcelona.png" srcset="https://www.docplanner.com/images/barcelona.png 1x, https://www.docplanner.com/images/barcelona@2x.png 2x"/>Barcelona</div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/munich.png" srcset="https://www.docplanner.com/images/munich.png 1x, https://www.docplanner.com/images/munich@2x.png 2x"/> Munich
 </div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/istanbul.png" srcset="https://www.docplanner.com/images/istanbul.png 1x, https://www.docplanner.com/images/istanbul@2x.png 2x"/> Istanbul
 </div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/rome.png" srcset="https://www.docplanner.com/images/rome.png 1x, https://www.docplanner.com/images/rome@2x.png 2x"/> Rome
 </div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/bologna.png" srcset="https://www.docplanner.com/images/bologna.png 1x, https://www.docplanner.com/images/bologna@2x.png 2x"/>Bologna
 </div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/curitiba.png" srcset="https://www.docplanner.com/images/curitiba.png 1x, https://www.docplanner.com/images/curitiba@2x.png 2x"/>Curitibia
 </div>
   <div class="grid-item">							<img scr="https://www.docplanner.com/images/mexico-city.png" srcset="https://www.docplanner.com/images/mexico-city.png 1x, https://www.docplanner.com/images/mexico-city@2x.png 2x"/> Mexico City
 </div> 
 </div>
 </body>
 <footer class="foot">
 <p>We are leaders in 13 countries: Poland, Turkey, Spain, Italy, Germany, Czech Republic, Portugal, Mexico, Colombia, Brazil, Argentina, Peru and Chile<br>
 
 This site uses cookies to deliver services in accordance with this Privacy Policy. You can specify the conditions for storing or accessing cookies on your browser.<br>
 
 www.docplanner.com © 2022</p>
 
 </footer>